
.flex-container li{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 400px;
    align-content: space-around;
    box-shadow: 0 rgba(61, 58, 58, 0.2);
    background-color: rgb(239, 235, 240);

   
}

/* .flex-container:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
} */


.video-container:hover {
  
  animation: shake 0.5s infinite;

    
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}


/* .video-container:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
} */

iframe{
    width: 50%;
}