
.nav-bar{
    
        padding: 10px;
        @media (min-width: 600px){
            padding: 20px;
        
    }}

.search-button{
    padding: 20px;

}

.main-container{
    background-image:url("image/pexels-anton-h-145707.jpeg");
    background-color: #cccccc;
    opacity: 80%;
    display: grid;
    padding: 30px;
    
}
.title-item {
    display: grid;
    width: fit-content;
    background-color: #cccccc;
    padding:20px;
    margin: 20px;
}

.home-nav{
    padding-left:15px;
}

.video-container:hover {
  
  animation: shake 0.5s infinite;   
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}


iframe{
    width: 50%;
}

.flex-container{
    display: grid;
    align-items: flex-start;
}

*:before, *:after {
    box-sizing: border-box;
  }