<html>
    <head>
        <link rel="stylesheet" href="static/main.css">
        <title>
            {{heading}}
        </title>
    </head>
<body class="main-container">
    <nav class="nav-bar">
        <ul>
          <h3> <li><a class="home-nav" href="/playlist"><i style="font-size:24px">Home</i></a></li>
           <li><form class="search-button" action="/results" method="post">
           <label for="song_search"><i style="font-size:24px">Search for a song</i></label>
           <input type="text" name="song_search" id="song_search" style="font-size:24px" placeholder="Search for a song..">
           <button type="submit" value="Search"><i style="font-size:24px">Search</i></button></form>
           </form> </h3>
        </ul> 
           
    </nav>
    {% block content%} {% endblock %}
    </body>
</html>