
    {% extends "base.html" %} {% block content%}
        <h1>{{heading}}!!</h1>
          
        </form>
            {% for song in playlist %}
            <p><div class="flex-container"> 
                <div class="list-item"><div class="title-item">
                    {{song.song_name}}:{{song.artist_name}}
                </div>
                    <div class="video-container">
                        <iframe width="420" height="345" src="{{song.video}}">
                        </iframe>
                        </div>
                       <b> <form class="delete-form" action="/playlist/{{song.id}}/delete" method="POST">
                        <button type="submit" class="trash-button"><i style="font-size:24px">Delete<i class="fa fa-trash-o"  aria-hidden="true"></b>
                            </i></button>

                        </i></button>
                        </form>
                </div>   
                
        </p>
        {% endfor %} 
    
   {% endblock %}
</div>




      

        