
    {% extends "base.html" %} {% block content%}
        <h1>{{heading}}!!</h1>
          
        </form>
            <ul>{% for song in playlist %}
            <p><div class="flex-container"> 
                <li>
                   <b>
                    <span>&#9658;</span>
                    {{song.song_name}}:{{song.artist_name}} 
                    <div class="video-container">
                        <iframe width="420" height="345" src="{{song.video}}">
                        </iframe>
                        </div>
                        <form class="delete-form" action="/playlist/{{song.id}}/delete" method="POST">
                        <button type="submit" class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true">
                        </i></button>
                        </form>
                    </b> 
                <!-- <span> &#9989;</span></li> -->
                </li>
        </p>
        {% endfor %} 
    </ul>
   {% endblock %}
</div>




      

        